button {
    width: 3em;
    height: 3em;
    font-size: 1.5em;
    border: none;
    border-radius: 2em;
    margin: 0.3em;
    cursor: pointer;
}

.igual {
    width: 6.6em;
    border-radius: 1.6em;
}

.numbers {
    background-color: black;
    border-radius: 1em;
    width: 22em;
}

.resultado {
    color: white;
    font-size: 3em;
    text-align: end;
    margin-right: 1em;
}

.orange {
    background-color: #ff9500;
    color: white;
}

.gray {
    background-color: #505050;
    color: white;
}

@media screen and (max-width: 767px) {
    .numbers {
        width: 100%;
    }

    button {
        width: 2em;
        height: 2em;
    }

    .igual {
        width: 4.5em;
    }
}

div {
    background-color: #fff;
}

.main {
    height: 100vh;
}